    <ul class="ul-user">
      <li>
        <div class="user-img">
          <img id="img" src="<%= @user.photo %>" alt="user_photo"/>
        </div>
        <div class="data">
          <p class="name"><%= @user.name %></p>
          <p class="number-posts">number of post: <%= @user.posts_counter %></p>
        </div>
      </li>
    </ul>
    <section>
      <div class="bio">
        <p class="bio-title">Bio</p>
        <p class="bio-text"><%= @user.bio %></p>
      </div>
      <ul class="ul-posts">
        <% @posts.each do |p| %>
          <li class="post-user-section" onclick="location.href='<%= user_post_path(id: p.id, user_id:@user.id) %>'">
            <p class="post-title"><%= p.title %></p>
            <p class="post-text"><%= p.text %></p>
            <div class="interactions">
              <p>comments: <%= p.comments_counter %>,</p>
              <p>likes: <%= p.likes_counter %></p>
            </div>
          </li>
        <% end %>
      </ul>
    </section>
    <button class="btn-user-details" onclick="location.href='<%= user_posts_path(@user.id) %>'">see all posts</button>   
