<% if @users.blank? %>
<p>There are not any users currently in the system.</p>
<% else %>
<div>
   <h2>User name: </h2> $<%= @user.name%><br />
   <p>Number of posts:</p> <%= @user.posts_counter %><br />
</div>
<div>
   <h4>Bio</h4>
   <p><%= user.bio %></p>
</div>
<% if @posts.blank? %>
<p>This user has no posts</p>
<% else %>
<ul>
   <% @posts.each do |post| %>
      <div id='post-data'>
        <%= post.title%><br />
        <p><%= pos.text%></p><br/>
        <p><%= pos.comments_counter%> - <%= post.likes_counter %></p>
      </div>
   <% end %>
</ul>
<button>See all posts</button>
<% end %>
<% end %>