<h1>New Post</h1>
<%= form_for :post, url: user_posts_path do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.label :text %><br>
    <%= f.text_area :text %>
  </p>

  <div class="field">
    <%= f.hidden_field :user_id, value: @current_user.id.to_s %>
  </div>

    <div class="field">
    <%= f.hidden_field :author_id, value: @current_user.id.to_s %>
  </div>


  <div class="field">
    <%= f.hidden_field :comments_counter, value: 0%>
  </div>

  <div class="field">
    <%= f.hidden_field :likes_counter, value: 0%>
  </div>

  <p>
    <%= f.submit %>
  </p>
<% end %>