<% if @post.blank? %>
<p>This post does not exist.</p>
<% else %>
<ul class="ul-post">
      <li class="post-section-details">
        <div class="post-data">
          <p class="post-title-name"><%= @post.title %> by <%= @user.name%></p>
          <p class="post-interactions">comments: <%= @post.comments_counter%>, likes: <%= @post.likes_counter%> </p>
        </div>
        <p class="post-text-extended"><%= @post.text %></p>
      </li>
      <li class="comments-section-details">
        <% @comments.each do |c|%>
          <div class="comment-container">
            <p class="comment-body"><%= c.user_name(c.user_id) %>: <%= c.text %></p>
            <% if can? :destroy, c%>
              <%= link_to "Delete Comment", delete_comment_path(current_user.id, @post.id, c.id), method: :delete, data: { confirm: 'Are you certain you want to delete this comment?' } %>
            <% end %>
          </div>
        <% end %>
      </li>
      <% if flash[:comment_added] %>
        <p>Comment Added Successfully</p>
      <% end %>
      <% if flash[:like_added] %>
        <p>Like Added Successfully</p>
      <% end %>
      <li class="comment-container">
        <%= link_to "Create Comment", new_user_post_comment_path(@user.id, @post.id), method: :get %>
      </li>
      <li class="comment-container">
        <% if can? :destroy, @post %>
          <%= link_to "Delete", delete_post_path(current_user.id, @post.id), method: :delete, data: { confirm: 'Are you certain you want to delete this post?' } %>
        <% end %>
      </li>
    </ul>

<% end %>