<% if @post.blank? %>
<p>This post does not exist.</p>
<% else %>
<ul class="ul-post">
      <li class="post-section-details">
        <div class="post-data">
          <p class="post-title-name"><%= @post.title %> by <%= @user.name%></p>
          <p class="post-interactions">comments: <%= @post.comments_counter%>, likes: <%= @post.likes_counter%> </p>
        </div>
        <p class="post-text-extended"><%= @post.text %></p>
      </li>
      <li class="comments-section-details">
        <% @comments.each do |c|%>
          <div class="comment-container">
            <p><%= c.user_name(c.user_id) %>: <%= c.text %></p><button class="btn-comment-delete">delete</button>
          </div>
        <% end %>
      </li>
      <% if flash[:comment_added] %>
        <p>Comment Added Successfully</p>
      <% end %>
      <% if flash[:like_added] %>
        <p>Like Added Successfully</p>
      <% end %>
      <li class="comment-container">
      </li>
    </ul>
    <% if can? :destroy, @post %>
        <%= link_to "Delete", delete_post_path(current_user.id, @post.id), method: :delete, data: { confirm: 'Are you certain you want to delete this?' } %>
    <% end %>
<% end %>